#btn {
    -fx-text-fill: #fff;
    -fx-border-width: 0px 0px 6px 0px;
    -fx-border-color: transparent;
}
#btn:hover {
    -fx-background-color: #808080;
    -fx-border-color: #99CC66;
    -fx-cursor: hand;
}
#text{
    -fx-text-fill: #666666;
}

#panel {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #E6E6E6;
/*    -fx-overflow-y: visible;
    -fx-overflow-x: visible;*/
}
#border{
    -fx-border-color: #B3B3B3;
    -fx-border-image-width: 2px;
    
}
#btns:hover{
    -fx-text-fill: #99CC66;    
    -fx-cursor: hand;
}
#panel_header_left_right {
    -fx-background-color: #E6E6E6;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 0px;
    //-fx-border-radius: 5px;
    -fx-border-color: #99CC66;
}