/Teacher v1/JavaFXApplication3/nbproject/private/
/Teacher v1/nbproject/private/
/Teacher v1/build/
/Teacher v1/TeacherV1/nbproject/private/
/Teacher v1/TeacherV1/build/
/Teacher v1/JavaFXApplication5/nbproject/private/
/Teacher v1/JavaFXApplication5/build/
/Teacher v1/JavaFXApplication5/dist/
/Teacher v1/HTML5Application/nbproject/private/
/Teacher v1/Chapter6/nbproject/private/
/Teacher v1/Chapter6/build/
/Teacher v1/Boldoo/nbproject/private/
/Teacher v1/Hosoo/nbproject/private/
/Teacher v1/Hosoo/build/
/Teacher v1/Boldoo_Sugra/nbproject/private/
/Teacher v1/Boldoo_Sugra/build/