#btn{
    -fx-background-color:#356CA3;
    -fx-text-fill:white;
}
#btn:hover{
    -fx-background-color:#2A5682;
}
#btn:pressed{
    -fx-background-color:black;
}
#btn:focused{
    -fx-background-color:#1D3C5B;
}
#shutdown_button { 
    
    -fx-border-radius: 5em;
    -fx-outline: none;
    -fx-background-color: transparent;
    
}
#shutdown_button:hover{
    -fx-outline: none;
    -fx-background-color: transparent;
}