/* 
    Created on : May 25, 2015, 2:31:06 PM
    Author     : JAVA M2
*/

#btn {
    -fx-text-fill: #fff;
    -fx-border-width: 0px 0px 6px 0px;
    -fx-border-color: transparent;
}
#btn:hover {
    -fx-background-color: #808080;
    -fx-border-color: #99CC66;
    -fx-cursor: hand;
}
#btns1 {
    -fx-background-color: yellowgreen;
    
    -fx-cursor: hand;
    
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    
}


#btns1:hover {
    
-fx-background-color: #B3B3B3;
    
-fx-border-color: #99CC66;

-fx-border-width: 2px;
 
}
#green{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #99CC66;
    -fx-cursor: hand;
    
}
#text{
    -fx-text-fill: #666666;
}

#panel {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #E6E6E6;
    -fx-overflow-y: visible;
    -fx-overflow-x: visible;
}

#border {
    -fx-border-color: #B3B3B3;
    -fx-border-image-width: 2px;
}

#btns:hover {
    -fx-text-fill: #99CC66;
    -fx-cursor: hand;
}

#panel_header_left_right {
    -fx-background-color: #E6E6E6;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 6px;
    -fx-border-raduis: 5px;
    -fx-border-color: #99CC66;
}

.scroll-pane {
    -fx-outline: none; 
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}
.scroll-pane:focused {
    -fx-outline: none;
    -fx-border-color: transparent;
}

#daalgavar_send_label {
    -fx-padding: 10px 25px 5px 25px;
    -fx-text-fill: black; 
}

#daalgavar_send_textf {
    
    -fx-height: 20px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-focus-color: transparent;
}

#daalgavar_send_image {
    -fx-padding: 20px 5px 20px 30px;
    -fx-text-align: right;
    
}

#border {
    -fx-border-color: #B3B3B3;
    -fx-border-image-width: 2px;
}

.list-view {
    -fx-border-style: dashed;
    
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
   
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.list-cell { -fx-text-fill: black;}
.list-cell:odd { -fx-background-color: transparent;}
.list-cell:even { -fx-background-color: transparent;}
.list-cell:filled:hover { 
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.check-box .box{
    -fx-background-color: transparent;
    -fx-padding: 2px;
    -fx-border-color: #666666;
    -fx-border-width: 0.1em;
    -fx-border-radius: 3px;
}
.check-box .mark {
    
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
    -fx-padding: 5px 5px 5px 5px;;
}
.check-box:selected .mark {
    -fx-background-color: -fx-mark-highlight-color, #99CC66;
}
.combo-box {
    -fx-text-fill: #E6E6E6;
}
.combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover 
{
-fx-background: -fx-accent;
-fx-background-color: #B3B3B3;
-fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell:filled:hover 
{
-fx-background-color: #99CC66;
-fx-text-fill: white;
}

.combo-box-base  
{
-fx-background-color: transparent, #99CC66, transparent, #99CC66;
-fx-background-radius: 5, 5, 4, 3;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-padding: 0;
-fx-text-fill: #B3B3B3;
}
.combo-box-base:hover
{
-fx-color: black;
}
.combo-box-base:showing 
{
-fx-color: #99cc66;
}
.combo-box-base:focused {
-fx-background-color: transparent, #99cc66, transparent, #99cc66;
-fx-background-radius: 6.4, 4, 5, 3;
-fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base:disabled {
-fx-opacity: .4;
}

.tablecolor{
    -fx-background-color: #E6E6E6;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 6px;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #99CC66;
    
}
.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #99CC66;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
  
}
.radio-button .radio:selected {
    -fx-background-color: #99CC66;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: black;
    -fx-background-color: yellow;
}
.radio-btton -radio:determinate {
    -fx-background-color: #99CC66;
    //-fx-background-image: #ffffff;
}
.radio-button -radio:indeterminate {
    -fx-background-color: #99CC66;
    
}
.radio-button .dot {
    
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}
