/* 
    Created on : May 25, 2015, 2:31:06 PM
    Author     : JAVA M2
*/

#btn {
    -fx-text-fill: #fff;
    -fx-border-width: 0px 0px 6px 0px;
    -fx-border-color: transparent;
    
}
#btn:hover {
    -fx-background-color: #808080;
    -fx-border-color: #99CC66;
    -fx-cursor: hand;
}
#btns1 {
    -fx-background-color: yellowgreen;
    
    -fx-cursor: hand;
    
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    
}


#btns1:hover {
    
-fx-background-color: #B3B3B3;
    
-fx-border-color: #99CC66;

-fx-border-width: 2px;
 
}
#green{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #99CC66;
    -fx-cursor: hand;
    -fx-background-radius: 0.5em;
    
}
#green:hover{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #8BC34A;
    -fx-cursor: hand;
    -fx-background-radius: 0.6em;
    
}

#asd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#table_color{
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 6px;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #99CC66;
    
}

#text{
    -fx-text-fill: #666666;
}

#panel {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #E6E6E6;
    -fx-overflow-y: visible;
    -fx-overflow-x: visible;
    -fx-border-radius: 0.5em;
    -fx-background-radius: 0.5em;
    
}
#radiuslessGreen{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #99CC66;
    -fx-cursor: hand;
    -fx-background-radius: 0em; 
}

.text-field:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-radius: 0em;
}
.text-area:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -0%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 0px, derive(-fx-control-inner-background, -0%), -fx-control-inner-background);
    -fx-faint-focus-color: -fx-control-inner-background ;
    -fx-background-radius: 0em;
}

#border {
    -fx-border-color: #B3B3B3;
    -fx-border-image-width: 2px;
    
}

#btns:hover {
    -fx-text-fill: #99CC66;
    -fx-cursor: hand;
}

#panel_header_left_right {
    -fx-background-radius: 0.5em;
    -fx-background-color: #E6E6E6;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 0px;
    -fx-border-raduis: 5px;
    -fx-border-color: #99CC66;
}

.scroll-pane {
    -fx-outline: none; 
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}
.scroll-pane:focused {
    -fx-outline: none;
    -fx-border-color: transparent;
}

#daalgavar_send_label {
    /*-fx-padding: 30px 5px 5px 25px;*/
    -fx-text-fill: black; 
}

#daalgavar_send_textf {
    
    -fx-height: 25px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-focus-color: transparent;
    -fx-border-color: #666666;
}

#daalgavar_send_image {
    -fx-padding: 20px 5px 20px 30px;
    -fx-text-align: right;
    
}

#border {
    -fx-border-color: #B3B3B3;
    -fx-border-image-width: 2px;
}

.list-view {
    -fx-border-style: dashed;
    
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
   
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.list-cell { -fx-text-fill: black;}
.list-cell:odd { -fx-background-color: transparent;}
.list-cell:even { -fx-background-color: transparent;}
.list-cell:filled:hover { 
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
/////checkbox
.check-box .box{
    -fx-background-color: white;
    -fx-padding: 2px;
    -fx-border-color: #666666;
    -fx-border-width: 0.15em;
    -fx-border-radius: 4px;
}
.check-box .mark {
    
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
    -fx-padding: 5px 5px 5px 5px;;
}
.check-box:selected .mark {
    -fx-background-color: -fx-mark-highlight-color, #99CC66;
}
/////////////////////////////////////////////////////////////////

.combo-box {
    -fx-text-fill: #E6E6E6;
}
.combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover 
{
-fx-background: -fx-accent;
-fx-background-color: #B3B3B3;
-fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell:filled:hover 
{
-fx-background-color: #99CC66;
-fx-text-fill: white;
}

.combo-box-base  
{
-fx-background-color: transparent, #99CC66, transparent, #99CC66;
-fx-background-radius: 5, 5, 4, 3;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-padding: 0;
-fx-text-fill: #B3B3B3;
}
.combo-box-base:hover
{
-fx-color: black;
}
.combo-box-base:showing 
{
-fx-color: #99cc66;
}
.combo-box-base:focused {
-fx-background-color: transparent, #99cc66, transparent, #99cc66;
-fx-background-radius: 6.4, 4, 5, 3;
-fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base:disabled {
-fx-opacity: 0;
}

/*.tablecolor{
    -fx-background-color: #E6E6E6;
    -fx-padding: 10px;
    -fx-border-width: 0px 6px 0px 6px;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #99CC66;
    
}*/
.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #99CC66;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
  
}
.radio-button .radio:selected {
    -fx-background-color: #99CC66;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: black;
    -fx-background-color: yellow;
}
.radio-btton -radio:determinate {
    -fx-background-color: #99CC66;
    //-fx-background-image: #ffffff;
}
.radio-button -radio:indeterminate {
    -fx-background-color: #99CC66;
    
}
.radio-button .dot {
    
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}



#dropdownButton {
    -fx-background-color: transparent;
    -fx-text-fill: #666666;

}
#dropdownButton:hover {
    -fx-background-color: white;
    -fx-border-raduis: 32px; 
}
#downmenu{
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: #808080;
}
#downmenu:hover{
    -fx-background-color: #808080;
    -fx-text-fill:white;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-background-size: 300, 50;
    -fx-border-color:#99CC66;
    -fx-cursor: hand;
}

//scrollbar

.scroll-bar{
 -fx-background-color: #E6E6E6;
 -fx-background-radius: 0em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: #AED75C;
 -fx-background-insets: 0 0 0 0;
 -fx-background-radius: 1em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: #AED75C;
 -fx-background-insets: 0 0 0 0;
 -fx-background-radius: 1em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: #99CC66;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: #99CC66;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 0.1em;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 0.2;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M76 11l0 35 -34 28 -34 -28 0 -35 34 28 34 -28zm0 17m-17 32m-34 0m-17 -32m17 -3m34 0";
 -fx-background-color: #99CC66;
 -fx-padding: 0.2em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: #99CC66;
 -fx-shape: "M76 11l0 35 -34 28 -34 -28 0 -35 34 28 34 -28zm0 17m-17 32m-34 0m-17 -32m17 -3m34 0";
 -fx-padding: 0.2em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: #99CC66;
 -fx-shape: "M76 11l0 35 -34 28 -34 -28 0 -35 34 28 34 -28zm0 17m-17 32m-34 0m-17 -32m17 -3m34 0";
 -fx-padding: 0.2em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: #99CC66;
 -fx-shape: "M76 11l0 35 -34 28 -34 -28 0 -35 34 28 34 -28zm0 17m-17 32m-34 0m-17 -32m17 -3m34 0";
 -fx-padding: 0.2em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,yellow,rgb(96,96,96);
}
///////////////////////////////
.label-header {
    -fx-font-size: 15pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #666666;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: yellow;
    -fx-control-inner-background: #E6E6E6,#ccc ;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: #99cc66;
    -fx-padding: 10;
    
}

.table-view .column-header-background {
    -fx-background-color: #99CC66;
}

.table-view .column-header, .table-view .filler {
    -fx-alignment: center;
    -fx-padding: 0px;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-text-fill: #666666;
    -fx-border-color: #99CC66;
    -fx-size: 20;
    -fx-background-color: #E6E6E6;
    -fx-border-insets: 0 1 1 0;
}

.table-view .table-column-cell{
-fx-background-color:rgb(243,243,243);
-fx-border-color:rgb(159,159,159);
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #666666;
    -fx-alignment: center;
    -fx-opacity: 1;
    -fx-padding: 5px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #B3B3B3;
}

