#program_tab {
    -fx-font-size:15px;
    -fx-padding:5px 40px 5px 40px;
}

#teacher_tab {
    -fx-font-size:15px;
    -fx-padding:5px 60px 5px 60px;
}

#student_tab {
    -fx-font-size:15px;
    -fx-padding:5px 50px 5px 50px;
}

#report_tab {
    -fx-font-size:15px;
    -fx-padding:5px 55px 5px 55px;
}

#info {
    -fx-background-color:#ffffff;
    -fx-text-fill:#666666;
}

#regLbl {
    -fx-font-family:'Lucidatypewriter', monospace;
}

#tab_today {
    -fx-padding:5px 25px 5px 25px;
}

#tab_all {
    -fx-padding:5px 15px 5px 15px;
}

#tab_monday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_tuesday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_wednesday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_thursday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_friday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_saturday {
    -fx-padding:5px 30px 5px 30px;
}

#tab_sunday {
    -fx-padding:5px 37px 5px 37px;
}

.text-field.error {
    -fx-text-box-border:red;
    -fx-focus-color:red;
}

#column {
    -fx-alignment:CENTER;
}